{
	"presets": [
		"@babel/react",
		["@babel/preset-env", {
			"targets": {
				"node": "current"
			}
		}]
	],
	"plugins": [
		"@babel/transform-arrow-functions",
		"@babel/proposal-object-rest-spread",
		"@babel/syntax-class-properties",
		"@babel/proposal-optional-chaining",
		["@babel/plugin-proposal-decorators", { "legacy": true } ],
		["@babel/proposal-class-properties", { "loose":  true }]
	]
}